.a1{
    display: flex;
    justify-content: space-between;
}
.a4{
    display: flex;
    gap: 25px;
    list-style: none;
    font-family: Public Sans;
}
.a3{
    border-radius: 50px;
    padding: 5px;
    background-color: rgb(171, 10, 82);
    border: none;
    color: white;
}
.a5{
    margin-left: 120px;
}
.b1{
    display: flex;
    gap: 350px;
}
.b2{
    color: #36536B;
    margin-left: 300px;
    margin-top: 220px;
}
.b3{
    border-radius: 35px;
    margin-top: 90px;
}
.c2{
    border-radius: 10px;
    margin-left: 300px;
}
.c1{
    display: flex;
    margin-top: 50px;
}
.c3{
    color: #36536B;
    margin-top: 50px;
}
.cc{
    margin-left: 100px;
}
.aa{
    opacity: 0.7;
    font-family: "Public Sans", sans-serif;
}
.c4{
    font-family: "Public Sans", sans-serif;
    opacity: 0.7;
}

.photos{
    display: flex;
    gap: 281px;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}
.photo{
    margin-left: 25px;
}
.Finances{
    font-family: Public Sans;
font-weight: 700;
font-size: 18px;
line-height: 25px;
letter-spacing: -0.14px;
text-align: center;
color: #36536B;
}
.footer{
    display: flex;
    align-items: center;
    background-color: #1B262F;
    padding-left: 150px;
    gap: 560px;
    height: 100px;
    margin-top: 120px;
}
.text-section{
    display: flex;
    gap: 50px;
    align-items: center;
}
.footer-text{
font-family: Public Sans;
font-weight: 700;
font-size: 15px;
color: white;
}
.logo-section{
    display: flex;
    gap: 25px;

}